body {
    display: flex;
    justify-content: center;
}

#headline {
    text-align: center;
    margin: 10pt;
}


input {
    text-align: end;
    width: 145pt;
    height: 15pt
}

.upper {
    width: 198pt;
    text-align: end;
    font-size: 25pt;
    letter-spacing: 3px;
    min-height: 30pt;
    border: 2pt solid black;
}

#clear {
    width: 100pt;
    background-color: red;
}

button {
    width: 50pt;
    height: 50pt;
    background-color: #666666;
    cursor: pointer;
    font-size: 14pt;
}

button:hover {
    background-color: #4D4D4D;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 200pt;
}

#zero {
    width: 100pt;
}

#equals {
    width: 100pt;
    background-color: blue;
}

#equals:hover {
    background-color: darkblue;
}

#clear:hover {
    background-color: darkred;
}